<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h1>Login</h1>
    <form th:action="@{/login}" method="post">
        <div>
            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username">
        </div>
        <div>
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password">
        </div>
        <div>
            <button type="submit">Logar</button>
        </div>
    </form>
    <p th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;"></p>
    <div>
        <p>Não tem uma conta? <a th:href="@{/register}">Registre-se aqui</a></p>
    </div>
</body>
</html>
